#confucius-said {
	color: #478D99;
	border: none;
	border-radius: 16pt;
	font-size: 18pt;
	padding: 0em 0.35em;
	font-family: "IBM Plex Mono", "Noto Sans KR", "Noto Sans TC", monospace;
}

#confucius-said:hover {
	background: #478D99;
	color: #ffffff;
}
